@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <a href="https://ibb.co/KL6j7pB"><img src="https://i.ibb.co/CMB5v34/logo.jpg" alt="logo" border="0" width="10%"></a>
    <h2>Mundo Mídia</h2>
    <p>Faça o seu cadastro!</p>
</div>
